body {
    color: rgb(20, 20, 27);
    background-color: rgb(228, 215, 236);
    font-family: "Josefin Sans", sans-serif;
}
h1 {color:rgb(150, 48, 79);
    background-color: antiquewhite;
    font-family: "Josefin Sans", sans-serif;
}
a {color:rgb(119, 77, 129);}
nav {
    padding: 10px;
    margin-bottom: 60px;
    background-color: azure;}
nav a {color:rgb(65, 36, 62)}
nav {color:rgba(68, 40, 56, 0.199)}
nav a:hover {background-color: honeydew;}